<div class="container" style="margin: 20px;">
    <h2>Lista de Empleados</h2>

    @if (listaEmpleados.length === 0) {
        <p class="text-center">No hay empleados disponibles.</p>
    } @else {
        <table class="table table-bordered">
            <thead class="table-success">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Departamento</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Editar / Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @for (empleado of listaEmpleados; track empleado._id) {
                    <tr>
                        <td>{{ empleado._id }}</td>
                        <td>{{ empleado.nombre }}</td>
                        <td>{{ empleado.departamento }}</td>
                        <td>{{ empleado.email }}</td>
                        <td>{{ empleado.telefono }}</td>
                        <td style="display: flex; justify-content: space-between;">
                            <button style="width: 45%;" class="btn btn-warning btn-sm" [routerLink]="['/editar-empleado', empleado._id]">
                                Editar
                            </button>
                            <button style="width: 45%;" class="btn btn-danger btn-sm" (click)="eliminarEmpleado(empleado._id)">
                                Eliminar
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    
</div>
